/* FLOOR 2*/
div#TUTORIAL{
    z-index:1;
    position:absolute;
    top:5px;
    left: 5px;
    width: 250px;
    height: 150px;

    background-color: rgba(0,0,0,0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     border-radius: 5px;
  }   
  div#cr24{
    z-index:1;
    position: absolute;
    top: 165px;
    left: 5px;
    height: 120px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#stairs{
    z-index:1;
    position: absolute;
    top: 295px;
    left: 5px;
    height: 75px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.344);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#staff{
    z-index:1;
    position: absolute;
    top: 380px;
    left: 5px;
    height: 75px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab204{
    z-index:1;
    position: absolute;
    top: 465px;
    left: 5px;
    height: 175px;
    width: 270px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size:large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab203{
    z-index:1;
    position: absolute;
    top: 465px;
    left: 285px;
    height: 175px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#stairs1{
    z-index:1;
    position: absolute;
    top: 520px;
    left: 545px;
    height: 120px;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.344);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab202{
    z-index:1;
    position: absolute;
    top: 465px;
    left: 630px;
    height: 175px;
    width: 185px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab201{
    z-index:1;
    position: absolute;
    top: 465px;
    left: 825px;
    height: 175px;
    width: 185px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#staff1{
    z-index:1;
    position: absolute;
    top: 465px;
    left: 1020px;
    height: 175px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#cr23{
    z-index:1;
    position: absolute;
    top: 465px;
    left: 1080px;
    height: 175px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#cr21{
    z-index:1;
    position: absolute;
    top: 240px;
    left: 1080px;
    height: 159px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#seminar{
    z-index:1;
    position: absolute;
    top: 5px;
    left: 1080px;
    height: 225px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#toilet{
    z-index:1;
    position: absolute;
    top: 5px;
    left: 1020px;
    height: 100px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#stairs2{
    z-index:1;
    position: absolute;
    top: 5px;
    left: 909px;
    height: 40px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.497);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab210{
    z-index:1;
    position: absolute;
    top: 5px;
    left: 608px;
    height: 190px;
    width: 290px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab205{
    z-index:1;
    position: absolute;
    top: 5px;
    left: 338px;
    height: 120px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab206{
    z-index:1;
    position: absolute;
    top: 136px;
    left: 338px;
    height: 120px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#toilet1{
    z-index:1;
    position: absolute;
    top: 267px;
    left: 338px;
    height: 80px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#toilet2{
    z-index:1;
    position: absolute;
    top: 358px;
    left: 449px;
    height: 40px;
    width: 89px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#lab207{
    z-index:1;
    position: absolute;
    top: 267px;
    left: 549px;
    height: 131px;
    width: 131px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: normal;
    justify-content: center;
    border-radius: 5px;
  }
  
  div#lab208{
    z-index:1;
    position: absolute;
    top: 267px;
    left: 691px;
    height: 131px;
    width: 131px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;
  }

  div#cr22{
    z-index:1;
    position: absolute;
    top: 267px;
    left: 833px;
    height: 131px;
    width: 161px;
    background-color: rgba(0, 0, 0, 0.095);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-wrap: balance;
    font-size: large;
    justify-content: center;
    border-radius: 5px;

  }

  div#lab204:hover,div#lab203:hover,div#lab202:hover,div#lab201:hover,div#lab205:hover,div#lab206:hover,div#lab207:hover,div#lab208:hover,div#lab210:hover{
    background-color: rgba(208, 255, 0, 0.237);
    
   
    
}

div#cr21:hover,div#cr22:hover,div#cr23:hover,div#cr24:hover{
    background-color: rgba(73,230,73,0.489);
    
}

div#toilet:hover,div#toilet1:hover,div#toilet2:hover{
    background-color: rgba(120, 185, 242, 0.47);
    
}

div#staff:hover,div#staff1:hover{
 background-color: rgba(206, 89, 89, 0.486);
 
}

div#TUTORIAL:hover{
    background-color: blueviolet;
    

}

div#seminar:hover{
 background-color: rgba(71, 71, 205, 0.711);
 
}

div#first{
z-index:1;
    position:absolute;
    top:745px;
    left: 20px;
    width:20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
   
}

div#second{
z-index:1;
    position:absolute;
    top:745px;
    left: 50px;
    width: 20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
}

div#third{
z-index:1;
    position:absolute;
    top:745px;
    left: 80px;
    width: 20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
}

div#fourth{
z-index:1;
    position:absolute;
    top:745px;
    left: 110px;
    width: 20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
}

div#fifth{
z-index:1;
    position:absolute;
    top:745px;
    left: 140px;
    width: 20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
}

div#sixth{
z-index:1;
    position:absolute;
    top:745px;
    left: 170px;
    width: 20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
}

div#seventh{
z-index:1;
    position:absolute;
    top:745px;
    left: 200px;
    width: 20px;
    height: 20px;

    background-color: rgb(108, 248, 234);
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
     font-size: large;
     text-decoration: none;
     color: black;
}

div#heading{
position: absolute;
top: 690px;
left: 15px;
}
#occupy {
        background-color: #fa7d08;
        color: #fff;
        padding: 6px 7px;
        font-size: 10px;
        border: none;
        cursor: pointer;
        border-radius: 90px;
        box-shadow: 0 2px 4px rgba(36, 37, 36, 0.396);
        position: absolute;
        left: 90;
        right: 0;
        bottom: 0;
        transition: background-color 0.3s ease;
}
#occupy:hover {
        background-color: #ff4b03;
    }
